<style>


body{
  background:white;
}

div{
    font-size: 17px;
    word-spacing: 10px;
    font-family: Arial;
    letter-spacing:.1em;
    text-decoration: none;
    margin-top: 50px; 
    margin-left: 35px;
}

a:visited, a:link, a:active
{
    text-decoration: none;
    color: #33CCCC;
}

a:hover {
  text-decoration: underline;
  color: #666699;
}

a:visited {
  opacity: 0.6;
}

h1{
  text-align: center;
  margin-top: 120px;
  font-size: 50px;
  color: #666699;
  word-spacing: 4px;
  font-family: Arial;
  letter-spacing:.1em;
  text-decoration: none;
}


p{
  font-family: Arial;
  text-align: center;
  margin-top: -35px;
  font-size: 14px;
  word-spacing: 3px;
  letter-spacing:.05em;
}

img.centeritem { 
  margin-top: 45px;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}



</style>